@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  font-size: 5.5em !important;
  font-weight: 700;
}

h2 {
  margin-top: 0.5em !important;
  font-size: 4em !important;
}

h5 {
  color: grey;
}

p {
  color: grey;
  font-size: 1em;
  margin-top: 0.5em;
}

a {
  color: black;
}

button {
  height: 60px;
  color: white;
  background: #31CB00 !important;
  min-width: 100px;
  border: none !important;
  border-radius: 10px !important;
  margin-left: 1em;
  font-size: 1.1em !important;
}

.form-control {
  height: 60px;
  min-width: 250px;
  border: none !important;
  border-radius: 10px;
  font-size: 1.1em;
}

.form-group {
  border-bottom: 1px solid black !important;
}